<!--
body {
	background-color : #ffffff;
	margin : 20px;
	padding : 10px;
	font-family : serif;
	font-size : 10pt;
}
a {
	text-decoration : underline;
	color : #000000;
}
a:link {
	background-color : #ffddbb;
}
a:visited {
	background-color : #ccffcc;
}
a:hover {
	background-color : #dddddd;
}
a:active {
	background-color : #dddddd;
}
div.belt {
	background-color : #eeeeee;
	padding : 0px 4px;
}
div.belt-yellow {
	background-color : #ffffcc;
	padding : 0px 4px;
}
div.belt-blue {
	background-color : #ddeeff;
	padding : 0px 4px;
}
div.right-small {
	text-align : right;
	font-size : 8pt;
}
img.border {
	border-width : 1px;
	border-color : #000000;
	vertical-align : middle;
}
img.borderless {
	border-width : 0px;
	vertical-align : middle;
}
p.belt {
	background-color : #ffeedd;
	padding : 4px 8px;
}
p.belt-blue {
	background-color : #ddeeff;
	padding : 4px 8px;
}
pre.belt {
	background-color : #ddeeff;
	padding : 4px 8px;
}
pre.belt-yellow {
	background-color : #ffffcc;
	padding : 4px 8px;
}
table {
	border-style : solid;
	border-width : 0px;
	border-color : #000000;
	font-family : serif;
	font-size : 10pt;
}
table.profile {
	border-style : solid;
	border-width : 0px;
	border-color : #000000;
	font-family : serif;
	font-size : 10pt;
	margin-top : 8px;
	margin-left : 8px;
	margin-right : 8px;
	margin-bottom : 8px;
}
table.belt {
	border-style : solid;
	border-width : 0px;
	border-color : #000000;
	background-color : #ffeedd;
	padding : 0px 0px;
	width : 100%;
}
table.content {
	border-style : solid;
	border-width : 0px;
	border-color : #000000;
	padding : 2px 4px;
}
table.font-fixed {
	border-style : solid;
	border-width : 0px;
	border-color : #000000;
	padding : 2px 4px;
	font-family : monospace;
}
table.nest {
	border-style : solid;
	border-width : 0px;
	border-color : #000000;
	padding : 0px 0px;
}
td {
	padding : 0px 0px;
	vertical-align : middle;
}
td.center {
	text-align : center;
}
td.center-half {
	text-align : center;
	width : 50%;
	font-size : 8pt;
}
td.center-small {
	text-align : center;
	font-size : 8pt;
	padding : 0px 4px;
}
td.center-small-nopadding {
	text-align : center;
	font-size : 8pt;
	padding : 0px 0px;
}
td.center-white {
	text-align : center;
	background-color : #ffffff;
}
td.center-small-white {
	text-align : center;
	font-size : 8pt;
	background-color : #ffffff;
}
td.center-border1 {
	text-align : center;
	vertical-align : middle;
	empty-cells : show;
	border-style : solid;
	border-width : 1px;
	border-color : #ffc080;
	width : 22px;
	height : 22px;
}
td.left-small {
	text-align : left;
	font-size : 8pt;
	padding : 0px 4px;
}
td.left-small-white {
	text-align : left;
	font-size : 8pt;
	padding : 0px 4px;
	background-color : #ffffff;
}
td.right-small {
	text-align : right;
	font-size : 8pt;
	padding : 0px 4px;
}
td.right-small-white {
	text-align : right;
	font-size : 8pt;
	padding : 0px 4px;
	background-color : #ffffff;
}
th {
	padding : 0px 0px;
	vertical-align : middle;
}
#menu {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	height: 32px;
}
#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
	clear: both;
}
#menu li {
	margin: 0px 5px 0px 0px;
	padding: 0px;
	float: left;
}
#menu a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
	background: #FFFFFF;
	color: #333333;
	border: 1px solid #666666;
}
#menu a:hover {
	display: block;
	padding: 2px 4px;
	border-bottom: 1px solid #000000;
	text-decoration: none;
	background: #FFCC66;
}
#menu .current {
	background-color: #F45F57;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #333333;
}
-->